release:
  enabled: false

subPackages:
  - /frontend

docker:
  defaultTag: latest
  autoTags: [main, latest, next]

docs:
  location: /docs

  logo: true

  aliases:
    /api: https://raw.githubusercontent.com/C0rejs/core/main/docs/api.md

  externalTypes:
    - C0rejs/core
    - C0rejs/result

  app:
    api:
      url: wss://localhost/api
    rpc:
      url: ws://localhost/api
